@page
@model Fonfapres.App.View.Pages.AsociadoModel
@{
}

<!-- Seccion de código CSS para apariencia --> 
<style>
  hr {
            background-color: #d4d4d4;
            width: 90%;
            margin-left: 5%;
            height: 2px;
        }
</style>

<!-- Seccion del Titulo de la Página --> 
<h2>Asociados</h2>
<p>Consulta la información personas de cada Asociado</p>
<br>
<!-- Form de Busqueda de Asociado por código --> 
<form class="form-inline">
  <div class="form-group mb-2">
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Código del Asociado">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <input type="password" class="form-control" id="inputPassword2" placeholder="">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Buscar</button>
</form>
<hr>
<!-- Sección de Información Detalle del Asociado --> 
<!-- Sección de Datos Personales -->
<form class="form-inline">
  <div class="form-group mb-2">
    <h5>Datos Personales</h5>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    
  </div>
  <button type="submit" class="btn btn-primary mb-2">Editar</button>
  <button type="submit" class="btn btn-primary mb-2">Crear</button>
  <button type="submit" class="btn btn-primary mb-2">Borrar</button>
</form> 
<form>
  <br>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputIdPerson">Cédula</label>
      <input type="text" class="form-control" id="inputIdPerson" placeholder="">
    </div>
    <div class="form-group col-md-4">
      <label for="inputBornDate">Fecha de Nacimiento</label>
      <input type="date" class="form-control" id="inputBornDate" placeholder="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputName">Nombres</label>
      <input type="text" class="form-control" id="inputName" placeholder="">
    </div>
    <div class="form-group col-md-4">
      <label for="inputLastName">Apellidos</label>
      <input type="text" class="form-control" id="inputLastName" placeholder="">
    </div>
    <div class="form-group col-md-2">
      <label for="inputFam">Familia</label>
      <input type="text" class="form-control" id="inputFam" placeholder="">
    </div>
  </div>
</form>
<hr>
<!-- Sección de Datos Localización --> 
<form>
  <h5>Datos de Localización</h5>
  <br>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputAddress">Dirección</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="">
    </div>
    <div class="form-group col-md-4">
      <label for="inputCity">Ciudad</label>
      <input type="text" class="form-control" id="inputCity" placeholder="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputPhoneNumber">Teléfono Fijo</label>
      <input type="text" class="form-control" id="inputPhoneNumber" placeholder="">
    </div>
    <div class="form-group col-md-4">
      <label for="inputMobileNumber">Celular</label>
      <input type="text" class="form-control" id="inputMobileNumber" placeholder="">
    </div>
    <div class="form-group col-md-4">
      <label for="inputEmail">Correo</label>
      <input type="text" class="form-control" id="inputEmail" placeholder="">
    </div>
  </div>
</form>
<hr>
<!-- Sección de Datos Personales --> 
<form>
  <h5>Datos de Fonfapres</h5>
  <br>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputDatein">Fecha de Ingreso</label>
      <input type="date" class="form-control" id="inputDatein" placeholder="">
    </div>
    <div class="form-group col-md-4">
      <label for="inputDateout">Fecha de Retiro</label>
      <input type="date" class="form-control" id="inputDateout" placeholder="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputRecPerson">Persona Autorizada</label>
      <input type="text" class="form-control" id="inputRecPerson" placeholder="">
    </div>
    <div class="form-group col-md-4">
      <label for="inputIdRecPerson">Cédula Persona Autorizada</label>
      <input type="text" class="form-control" id="inputIdRecPerson" placeholder="">
    </div>
    <div class="form-group col-md-4">
      <label for="inputAvalador">Avalador</label>
      <input type="text" class="form-control" id="inputAvalador" placeholder="">
    </div>
  </div>
</form>
<hr>
<!-- Tabla con la Lista de Ejemplares por Lote de Ganado --> 
				<div class="text-center">
					<h5 class="heading-section">Asociados Activos</h5>
                    <h6>Lista de Asociados en el sistema</h6>
				</div>
				
                <table class="table table-responsive-xl">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Cédula</th>
                            <th>Nombres</th>
							              <th>Apellidos</th>
                            <th>Celular</th>
                        </tr>
                    </thead>
                    <tbody>
                        
						@*@foreach (var partners in Model.partners)
						{
							<tr class="alert" role="alert">
						      <td class="d-flex align-items-center">
						      	<div class="pl-3 email">
						      		<span>@partners.Id</span>
						      	</div>
						      </td>
						      <td>@partners.idPerson</td>
                  <td>@partners.name</td>
                  <td>@partners.lastName</td>
                  <td>@partners.mobileNumber</td>
						      
						    </tr>

						}*@
						
						
                        
                    </tbody>
                </table>